
  html{
    scroll-behavior:smooth;
}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navig{
    margin: 0;
    padding: 0;
}
.navig ul{
    background-color: #1e3a8a;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    list-style: none;
    font-size: 20px;
    
}
.navig li a{
  display: flex;
  margin: 20px;
  color: white;
  transition: 0.3s;
}
.navig a{
    text-decoration: none;
}
.navig ul li a:hover{
  background: coral;  
  color: black;
  border-radius: 10px;
  transition: 0.3s;
}
  header{
    background: lightblue;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
  }
  
button{
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:blue;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

  button:hover{
    background: darkblue;
  }
  .container{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    gap: 20px;
    
  }
  .box{
    background-color: #f4f4f4;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px grey;
    transition: 0.4s;
  }
  .box:hover{
    transform:translateY(-10px);
  }
  footer{
        background: black;
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        font-style: italic;
        margin-top: 20px;
  }
/* About */
.about{
    background:#d1fae5;
    padding:50px;
    text-align:center;
}
/*repo*/
.repo{
    padding: 20px;
    background: #FEF3C7;
}
.repo h2{
    color: #333;
    margin-bottom: 15px;
    font-size: 30px;
  }
  .repo ol{
    margin-left: 30px;
    font-size: 20px;
  }
  /* Contact */
.contact{
    background:#e0f2fe;
    padding:50px;
    text-align:center;
}
/* Responsive */
@media(max-width:768px){
    nav{
        flex-direction:column;
        gap:15px;
    }
}
